<!DOCTYPE html>
<html>

<template id="descText">
    <style>

    </style>
    <div class="outer">
       <section id="textSection">
           Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. <br>
           At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. <br>
           Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.  <br>
           At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. <br>
       </section>
        <div class="content">
            <content></content>
        </div>
    </div>
</template>

<template id="descVideo">
    <style>

    </style>
    <div class="outer">
       <video  autoplay controls >
           <source src="../templates/AccountNumber_Feldmann_low_ils.mp4" type="video/mp4" />
       </video>
        <div class="content">
            <content>
                <!-- label for="username">username</label -->

            </content>
        </div>
    </div>
</template>

<script type="text/javascript">

    document.MyStuff = document.MyStuff || {};

    document.MyStuff.descr = {};



    var r  =     document.MyStuff.descr;

    r.mytestTemp = document.querySelector('link[href="../templates/wc-description.html"]');
    r._import = r.mytestTemp.import;

    var _myStuff = document.MyStuff;


    function loadTemplate (callback){

        console.log('about to load the template');

        //   <link href="../templates/wc-description.html" rel="import">
        //   http://localhost:63342/PinotNoir/Noir/html/index.html
        var htmlImportTag = document.createElement("link");
        htmlImportTag.rel = "import";
        htmlImportTag.onload = function () {
            console.log('import started/loaded!');
            callback();
        };
        document.getElementsByTagName('head')[0].appendChild(htmlImportTag);
        htmlImportTag.href = "http://127.0.0.1:3030//html/remoteTemplate.html";

    }

    function getZeConnectionToPinotServer(){
        var that = this;
        try{

            var socket = io.connect('http://127.0.0.1:3030');

            socket.on('gpii_update', function (data) {
                console.log("getting a GPII (settings) update"+data);
                console.dir(data);
                console.dir(that);

                if(data.hasOwnProperty('GPIIWebDome')){
                    var user = data.GPIIWebDome;

                    if('anna' === user){
                        that.updateTheShadowDOM('#descText');
                    }else if('paul' === user){
                        that.updateTheShadowDOM('#descVideo');
                    }else {

                        loadTemplate(function(){
                            var xx = document.querySelector('link[href="http://127.0.0.1:3030//html/remoteTemplate.html"]');
                            reloadImport = xx.import;

                            console.dir(reloadImport);

                            var template = reloadImport.querySelector("#descSpec");

                            console.dir(template);

                            var clone = document.importNode(template.content, true);

                            while (that.shadow.hasChildNodes()) {
                                that.shadow.removeChild(that.shadow.lastChild);
                            }
                            that.shadow.appendChild(clone);


                        });
                    }
                }

            });
            console.log('Socket in der Compoenent');
            console.dir(socket);
        }catch(ex){
            console.log('exception occurred ' +ex);

        }
    }

    r.descr_proto =  Object.create(HTMLElement.prototype, {
        createdCallback: {
            value: function () {
                this.shadow = this.createShadowRoot();
                var template = r._import.querySelector('#descText');
                var clone = document.importNode(template.content, true);
                _myStuff.shadow = this.shadow;
                this.shadow.appendChild(clone);

                getZeConnectionToPinotServer.apply(this);
            }
        },
        updateTheShadowDOM: {
            value : function(querySelectorOfnewShadowDOMlement) {

                var template = r._import.querySelector(querySelectorOfnewShadowDOMlement);
                var clone = document.importNode(template.content, true);

                while (this.shadow.hasChildNodes()) {
                    this.shadow.removeChild(this.shadow.lastChild);
                }
                this.shadow.appendChild(clone);
            }
        }
    });


    _myStuff.descr = document.registerElement('pinot-description', {
        prototype: r.descr_proto
    });

</script>
</html>

